body {
  background-color: #364f6b;
  color: #f5f5f5;
  padding: 50px;
}

h2 {
  padding: 20px;
}

img {
  padding-right: 30px;
}

.success-display {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.reset-password {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

button {
  position: absolute;
  text-align: center;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.error-display {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}